.box {

    background-color: teal;
    box-sizing: border-box;
    padding:20px 70px 50px 80px;
    margin:40px;
    border: 10px solid black;
}

h2 {
    font-size:60px;
    margin:0;
    color: white;   
    background-color:burlywood;
}